# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Data files (optional if large)
data/*.xlsx
data/*.csv

# Power BI / Tableau temp files
*.pbix.lock